{% extends "admin/change_list.html" %}
{% load i18n %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      &rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
      &rsaquo; <a href="../">{{ model_label|capfirst }}</a>
      &rsaquo; {{ title }}
    </div>
  {% endblock %}
{% endif %}

{% block content %}
  <div id="content-main">
    <div class="module">
      <table id="result_list">
        <thead>
          <tr>
            <th scope="col"><div class="text"><span>Click</span></div></th>
            <th scope="col"><div class="text"><span>Link</span></div></th>
          </tr>
        </thead>
        <tbody>
          {% for obj in objects %}
            <tr class="{% cycle 'row1' 'row2' %}">
              <td>{{ obj.link__count }}</td>
              <td><a href="../?q={{obj.link|urlencode}}" title="View click details for &quot;{{obj.link}}&quot;">{{ obj.link }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
